body {
  font-family: Helvetica;
  font-size: 16px;
  background-color: ffffff;
  background-image: url(sretnici.jpg);
  background-repeat: no-repeat;
  background-position: bottom left;
  background-attachment: fixed;
  margin-left: 20%;
  margin-right: 10%;
  line-height: 1.2em;
}

h1 {
  text-align: left;
  font-family: Helvetica;
  color:000000;
}

h2 {
  font-family: Helvetica;
  color:000000;
}

li {
  margin-bottom: 10px;
}

p {
  text-align: left;
  font-family: Helvetica;
  font-style: normal;
  font-weight: normal;
  color: 000000;
}

a {
  target-position: behind;
}

.inline {
  margin-left: 25px;
}

/* 
   sretnici.jpg borrowed from the marvelous ploop - Nicolas Gouny
   http://petitefamillegouny.blogspot.com/2010/11/hop-hop-on-ne-sarrete-pas.html 
*/
